.itemRow  {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

.itemText {
    width: 150px;
    text-align: center;
    background-color: #09f;
    border-radius: 10%;
}

.red {
    color: red;
}